* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #fff;
    color: #333;
    line-height: 1.6;
    margin-top: 80px; 
    transition: background-color 0.3s ease;
}

header {
    background-color: #D1E8E2; 
    padding: 20px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .logo h1 {
    font-size: 36px;
    color: #333;
    font-family: 'Roboto', sans-serif;
}

nav ul {
    display: flex;
    list-style-type: none;
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    font-size: 18px;
    color: #333;
    text-decoration: none;
    transition: color 0.3s ease;
    text-transform: uppercase;
}

nav ul li a:hover {
    color: #FFFFFF; 
}


/*Home Section*/
#home {
    background-color: #FFF4E6; 
    padding: 100px 20px 40px;
    text-align: center;
}

#home h2 {
    font-size: 60px;
    color: #333;
}

#home p {
    font-size: 36px;
    color: #666;
    margin-top: 20px;
}

.home-photo {
    width: 350px; 
    height: auto; 
    object-fit: cover; 
    display: block; 
    margin: 20px auto; 
}



/* About Me Section */
#about {
    background-color: #eaf7f2; 
    padding: 80px 20px;
}

.about-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
}

.about-item {
    flex: 1 1 45%;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    margin-top: 10px;
}

.about-photo {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    display: block;
    margin: 0 auto 20px;
    border: 3px solid #5a5a5a;
}

.biodata-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
}

.biodata-table td {
    padding: 8px;
    border-bottom: 1px solid #ddd;
}

.biodata-table td:place of birth {
    font-weight: bold;
    color: #5a5a5a;
    width: 40%;
}

.biodata-table td:favourite quote {
    color: #333;
}

.about-item h3 {
    text-align: center;
    color: #5a5a5a;
    font-size: 1.5em;
    font-family: 'Roboto', sans-serif; 
}

/* Favourite Things Section */
.favourite {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 20px;
}

.favourite-img {
    width: 100px; 
    height: 100px; 
    border-radius: 8px; 
    margin-top: 10px;
}

.favourite h4 {
    margin-bottom: 10px;
    color: #333;
}


/* Experiences Section */

#experience {
    background-color: #eaf7f2; 
    padding: 80px 20px;
}

.experience-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
}

.experience-wrapper {
    display: flex;
    flex-direction: column;
    gap: 30px; 
}

.experience-item {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: #fff;
    border-left: 5px solid #58a6ff; 
    padding: 20px;
    border-radius: 10px; 
    gap: 20px;
}

.experience-photo img {
    width: 180px;
    height: 180px;
    object-fit: cover; 
    border-radius: 10px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}

.experience-details {
    flex: 1; 
}

.experience-details h3 {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
}

.experience-details p {
    font-size: 18px;
    color: #555;
    line-height: 1.8;
}

.experience-photos-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); 
    background-color: #f9f9f9;
    gap: 15px;
}

.experience-photos-grid img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


/*Education section*/
#education {
    background-color: #eaf7f2; 
    padding: 80px 20px;
}

.education-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
}


.education-timeline {
    list-style: none;
    margin: 0;
    padding: 0;
}

.education-timeline li {
    display: flex;
    align-items: center;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #fff;
    border-left: 4px solid #58a6ff; 
}

.timeline-logo {
    width: 80px; 
    height: 80px; 
    margin-right: 20px; 
    object-fit: contain; 
    border-radius: 10px; 
}   
.timeline-text {
    flex-grow: 1; 
}

.timeline-text h3 {
    font-size: 24px;
    color: #333;
    margin-bottom: 5px;
}

.timeline-text p {
    font-size: 18px;
    color: #555;
}

.education-image img:hover {
    transform: scale(1.05);
}


/*Galley section*/
#gallery {
    background-color: #eaf7f2; 
    padding: 80px 20px;
}

.gallery-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
}

.gallery-item {
    background-color: #fff;
    padding: 20px;
    width: 30%; 
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden; 
}

.gallery-item img {
    width: 100%;
    height: auto; 
    max-height: 200px; 
    object-fit: contain; 
    border-radius: 10px;
}

.gallery-item p {
    font-size: 16px;
    color: #666;
    margin-top: 10px;
}


@media (max-width: 768px) {
    .gallery-item {
        width: 45%; 
    }
}

@media (max-width: 480px) {
    .gallery-item {
        width: 100%; 
    }
}


/*Playlist scetion*/
#playlist {
    background-color: eaf7f2; 
    padding: 60px 20px;
}

.playlist-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
}

.playlist-item {
    background-color: #fff;
    padding: 20px;
    width: 45%;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.playlist-item h3 {
    font-size: 22px;
    color: #4B9CD3;
}

.playlist-item p {
    font-size: 16px;
    color: #666;
}

.playlist-item audio {
    width: 100%;
    margin-top: 20px;
}


/*Family Section*/
#family {
    background-color: #eaf7f2; 
    padding: 80px 20px;
}

.family-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
}

.family-item {
    background-color: #fff;
    padding: 20px;
    width: 30%; 
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden; 
}

.family-item img {
    width: 100%;  
    height: auto;
    max-height: 300px; 
    object-fit: contain;  
    border-radius: 10px;
}

.family-item h3 {
    font-size: 22px;
    color: #4B9CD3; 
    margin-top: 15px;
}

.family-item p {
    font-size: 16px;
    color: #666;
    margin-top: 10px;
}


@media (max-width: 768px) {
    .family-item {
        width: 45%; 
    }
}

@media (max-width: 480px) {
    .family-item {
        width: 100%; 
    }
}

footer p {
    font-size: 16px;
    color: #333;
}


@media (max-width: 768px) {
    .about-container, .gallery-container, .experience-container, .education-container, .playlist-container, .family-container {
        flex-direction: column;
        align-items: center;
    }

    .about-item, .gallery-item, .education-item, .playlist-item, .family-item, .experience-item {
        width: 80%;
        margin-bottom: 20px;
    }
}


header .navbar {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

section {
    padding: 60px 20px;
}

section h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
}

footer {
    background-color: #D1E8E2;
    color: #4B9CD3;
    text-transform: uppercase;
    letter-spacing: 1px;
}

footer p {
    font-size: 14px;
    font-family: 'Arial', sans-serif;
}

#playlist .playlist-container {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    flex-wrap: wrap;
}

#playlist .playlist-item {
    background-color: #fff;
    padding: 30px;
    width: 45%;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

#playlist .playlist-item:hover {
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
    transform: translateY(-10px);
}

#playlist .playlist-item audio {
    width: 100%;
    margin-top: 20px;
    border-radius: 5px;
    background-color: #f9f9f9;
    padding: 10px;
}


.playlist-item h3,
.family-item h3 {
    font-size: 26px;
    color: #2a6f7f;
    font-weight: 700;
    transition: color 0.3s ease, transform 0.3s ease;
}

.playlist-item:hover h3,
.family-item:hover h3 {
    color: #152238;
    transform: scale(1.1);
}

.playlist-item p,
.family-item p {
    font-size: 16px;
    color: #666;
}

.playlist-item audio {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


footer {
    background: linear-gradient(45deg, #A9DFBF, #D5F5E3);
}


body {
    background-color: #eaf7f2;  
    font-family: 'Roboto', sans-serif;  
    margin: 0;
    padding: 0;
}

/* Playlist Item Styling */
.playlist-item {
    margin: 20px;
    text-align: center;
}

.album-cover {
    width: 150px; 
    height: 150px;
    object-fit: cover; 
    border-radius: 8px; 
    margin-bottom: 10px; 
}


audio {
    width: 100%;
    margin-top: 10px;
}



/* Home Button Styling */
.home-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #529999; 
    color: black; 
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

.home-button:hover {
    background-color: #4B9CD3;
}


.home-button i {
    margin-right: 2px; 
}

.home-button:hover {
    background-color: #4B9CD3;
}


